<!DOCTYPE html>
<html>
<head>
  <title>Learngage Dashboard</title>
  
 
  <link rel="stylesheet" type="text/css" href="/bower/Materialize/bin/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/client/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <div id="main"></div>
</body>

<!-- JSX transformer converts HTML-like syntax to the javascript React needs to create views -->
<!-- Main React.js file -->
<script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower/Materialize/bin/materialize.js"></script>
<script type="text/javascript" src="/bower/react/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script type="text/jsx;harmony=true" src="client/teacher/dashboard.js"></script>

</html>
