<!DOCTYPE html>
<html>
<head>
  <title>Learngage Dashboard</title>
  
 
  <link rel="stylesheet" type="text/css" href="/bower/Materialize/bin/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/client/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>



<body>
  <nav class="light-green lighten-5" role="navigation">
    <div class="nav-wrapper container"> 
	    <a id="logo-container" href="#" class="brand-logo"><img src="/client/images/logo_main.png">Digi<span style="color:orange">Quiz</span>&nbsp;<span style="font-size: 50%; padding-bottom:2px;" class="grey-text lighten-2-text">dgqwz.com</span>
	    </a>
      <ul class="right hide-on-med-and-down" id="navbar">
        <!-- <li><a href="#" onclick="">My Decks</a></li> -->
        <li><a href="#" onclick="">Create Decks</a></li>
        <li><a href="#" onclick="">Launch Game</a></li>
        <li><a href="#" onclick="">My Profile</a></li>
        <li><a href="#" onclick="">Logout</a></li>


      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#" onclick="">Create Decks</a></li>
        <li><a href="#" onclick="">Launch Game</a></li>
        <li><a href="#" onclick="">My Profile</a></li>
        <li><a href="#" onclick="">Logout</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Teacher Dashboard</h1>
      <div id="main"></div>
     
      <br><br>

    </div>
  </div>


  <div class="container">

    

    

    
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of MakerSquare students that made this for their
          thesis project.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
</body>>






<script src="../js/materialize.min.js"></script>
<script src="../js/init.js"></script>

<!-- JSX transformer converts HTML-like syntax to the javascript React needs to create views -->
<!-- Main React.js file -->
<script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower/Materialize/bin/materialize.js"></script>
<script type="text/javascript" src="/bower/react/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script type="text/jsx;harmony=true" src="client/teacher/dashboard.js"></script>

</html>
