<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/client/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/client/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <meta charset="UTF-8">
  <title>DigiQuiz: Educational Gamification with Real-Time Classroom Engagement</title>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="/client/images/logo_main.png">Digi<span style="color:orange">Quiz</span>&nbsp;<span style="font-size: 50%; padding-bottom:2px;" class="grey-text lighten-2-text">dgqwz.com</span></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#modal-signup" class="modal-trigger">Sign Up</a></li>
        <li><a href="#modal-login" class="modal-trigger">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#modal-signup" class="modal-trigger">Sign Up</a></li>
        <li><a href="#modal-login" class="modal-trigger">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="jumbotron container">
        <br><br>
        <div class="header center teal-text text-lighten-2"><img src="/client/images/logo_white.png"/></div>
        <h1 class="brand-logo">Digi<span style="color:orange">Quiz</span></h1>
        <div class="row center">
          <h3 class="header col s12 light">Keep&nbsp;students&nbsp;engaged&nbsp;in&nbsp;class through&nbsp;interactive&nbsp;educational&nbsp;gameplay</h3>
        </div>
        <div class="row center">
          <a href="#modal-signup" id="download-button" class="btn-large waves-effect waves-light teal lighten-1 modal-trigger">Sign Up</a>
          <a href="#modal-login" id="download-button" class="btn-large waves-effect waves-light teal lighten-1 modal-trigger">Log In</a>

        

        </div>
        <br><br>
      </div>
    </div>


<div id="modal-signup" class="modal">
 
    <form action="/signup" method="post">
      <fieldset>
        <div class="modal-content">
        <div class="valign-wrapper">
        <a href="/auth/facebook" class="valign modal-action modal-close waves-effect waves-indigo indigo darken-2 white-text btn-flat"><img src="/client/images/facebook.png" style="height:20px; position:relative; margin-top:7px; float:left; padding-right:6px;">Sign up with Facebook</a></div>
        <hr />
                  <h4 style="color:teal" class="text-teal">Create An Account</h4>        

            <P><label>Username:</label><input type="text" name="signupUsername"/></P>
            <P><label>Password:</label><input type="password" name="signupPassword"/></P>
        </div>
        <div class="modal-footer">
          <a href="#" id="createLoginButton" class="modal-action modal-close waves-effect waves-green btn-flat">Sign Up</a>
    </fieldset>
  </form>
    </div>

      <div id="modal-login" class="modal">
    <form action="/login" method="post">
      <fieldset>
        <div class="modal-content">
          <div class="valign-wrapper">
        <a href="/auth/facebook" class="valign modal-action modal-close waves-effect waves-indigo indigo darken-2 white-text btn-flat"><img src="/client/images/facebook.png" style="height:20px; position:relative; margin-top:7px; float:left; padding-right:6px;">Login with Facebook</a></div>
        <hr />
          <h4 style="color:teal" class="text-teal">Log In</h4>
            <P><label>Username:</label><input type="text" name="loginUsername"/></P>
            <P><label>Password:</label><input type="password" name="loginPassword"/></P>
        </div>
        <div class="modal-footer">
          <a href="#!"  id="loginButton" class="modal-action modal-close waves-effect waves-green btn-flat">Login</a>
    </fieldset>
  </form>
    </div>



    <div class="parallax"><img src="/client/images/worldboard.jpg" alt="Unsplashed background img 1"></div>
  </div>
            <!-- show any messages that come back with authentication -->


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
      <div class="container center">To see DigiQuiz in action, login with "demo" and a password of "demo"</div>
      <div class="container center">Students sign in <a href="/student">here</a>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">games</i></h2>
            <h5 class="center">Educational Gamification</h5>

            <p class="light">The best way to get students to remember something is to have fun doing it. Using DigiQuiz provides a way for students to play some of their favorite games while reviewing material they learned in class. It is easy to create questions and answers, and the responses are recorded and can be reviewed later on, one-on-one. You can even use it to administrate exams!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">For the whole class</h5>

            <p class="light">While the idea of playing games in class has been around a while, DigiQuiz uses the technologies your students already have in order to engage the whole class at once. Calling on a student engages one student - calling on all the students at once is possible with DigiQuiz. Every student participates.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">stay_current_portrait</i></h2>
            <h5 class="center">Mobile Enabled</h5>

            <p class="light">DigiQuiz does not need special software or proprietary equipment. It works with any Internet-enabled device with a modern web browser, such as laptops, mobile phones, and tablets. This is true for the teachers' dashboard as well -- you can control the flow of the game while walking around the classroom.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
         <div class="card blue-grey darken-1 row center">
          <h5 class="card-content header col s12 light">Live interactive classroom games and tests,<BR>designed to keep the class engaged<BR>and teachers informed on student performance. Play games like Jeopardy&#8482; while covering course material or prepping for standardized tests such as the SAT, ACT, Regents Exam, STAAR, and others.</h5>
        </div>
      </div>
    </div>
    <div style="background-color: #704214" class="parallax"><img style="opacity: 0.7" src="/client/images/child-ipad-brad-flickinger.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Square Pegs</h5>
          <div class="card blue-grey darken-1"><img src="/client/images/squarepegs.png" style="height:15vh; float:left; margin:2px" /><p style="margin:2px 4px 2px 4px;" class="grey-text text-lighten-4">Square Pegs is Juan Sierra (Scrum Master), Brian Boyko (Product Owner), and Peter Do (Full-stack Engineer). We're a small research team based out of MakerSquare in Austin, Texas.</p></div> 

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Continuous Improvement</h5>
          <p class="white-text">While DigiQuiz is a research project made in a single month, we continually are developing the project and make it more useful to teachers, professors, and coaches. Please check back soon for updates.</p>
        </div>
        <div class="col l3 s12">
<!--           <h5 class="white-text">Connect</h5> -->
          <ul>
<!--             <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="#">Square Pegs</a>
      </div>
    </div>
  </footer>



</body>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/client/js/materialize.js"></script>
  <script src="/client/js/init.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.js"></script>
<!-- JSX transformer converts HTML-like syntax to the javascript React needs to create views -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<!-- Main React.js file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js"></script>
<!-- Marked converts "markdown text" used in JSX to the appropriate HTML tags -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<!-- Main Logic for this web page, including where React draws the page -->
<!-- TODO: Refactor this into browserify during refactor week -->
<script type="text/javascript" src="/client/landing_page/landingpage.js"></script>
</html>